<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIco</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
    <header>
        <nav>
            <ul class="nav-menu1">
                <li><a href="javascript:void(0);" onclick="scrollToTop()">Inicio</a></li>
                <li><a href="/productos">Servicios</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>  
    </header>
    <script src="static/index.js"></script>
</body>
</html>